{% extends 'base.html' %}

{% block content %}
<div class="dashboard-container">
    <p class="title">Welcome, {{ name }}</p>
    <form method="POST" class="form">
        {{ form.hidden_tag() }}
        <span class="input-span">
            <label for="code" class="label">Room Code:</label>
            <input type="text" id="code" name="code" class="form-control">
        </span>
        <input class="submit" type="submit" name="join" value="Join Room">
        <input class="submit" type="submit" name="create" value="Create Room">
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <h3>Your Rooms:</h3>
    <ul>
        {% for room in rooms %}
        <li><a href="{{ url_for('room', room_code=room) }}">{{ room }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('logout') }}">Logout</a>
</div>
{% endblock %}