{% extends 'base.html' %}

{% block content %}
<div class="forgot-password-container">
    <p class="title">Forgot Password</p>
    <form id="forgot-password-form" method="POST" class="form">
        {{ form.hidden_tag() }}
        <span class="input-span">
            <label for="email" class="label">Email</label>
            {{ form.email }}
        </span>
        <input class="submit" type="submit" value="Send Reset Link" />
    </form>
    <span class="span"><a rel="noopener noreferrer" href="{{ url_for('login') }}">Back to Login</a></span>
</div>
{% endblock %}