{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <p class="title">Login</p>
    <form id="login-form" method="POST" class="form">
        {{ form.hidden_tag() }}
        <span class="input-span">
            <label for="username" class="label">Username</label>
            {{ form.username }}
        </span>
        <span class="input-span">
            <label for="password" class="label">Password</label>
            {{ form.password }}
        </span>
        <span class="span"><a href="#">Forgot password?</a></span>
        <input class="submit" type="submit" value="Log in" />
    </form>
    <span class="span">Don't have an account? <a rel="noopener noreferrer" href="{{ url_for('register') }}">Sign up</a></span>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}